body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    margin:0;
    padding: 30px;

}

.sistema{
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10x;
    box-shadow: 0px 3px 12x rgba(0, 0, 0, 0.15);
}

h1{
    color: #174f78;
    text-align: center;

}
label{
    display: block;
    margin-top: 15px; 
    font-weight: bold;

}
input{
    width: 100%; 
    padding: 10px; 
    margin-top: 5px; 
    box-sizing: border-box;
}

button{
    width: 100%; 
    padding: 12px; 
    margin-top: 20px;
    background-color: #174f78;
    color:white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0f3652;

}
#resultado{
    margin-top: 20px; 
    padding: 15px; 
    background-color: #eaf3f8; 
    border-left: 5px solid #174f78;
}
.erro{
    background-color: #ffebe8 !important;
    border-left-color: #c62828 !important;
    color: #8b0000;
}